<div *ngIf="memory$ | async as memory" class="flex justify-center align-middle">
    <ul class="list-reset w-full memory-list">
        <li *ngFor="let event of memory.events | memoryEvents" class="flex mb-2 py-8">
            <div class="flex-1">
                <span class="invisible"></span>
            </div>
            <div class="flex-1 flex justify-center align-middle">
                <img [src]="getIconForMemory(event)" alt="" class="border border-white rounded w-16 h-16">
            </div>
            <div class="flex-1">
                <p class="text-white">{{ event.text || event.type }} at {{ event.timestamp * 1000 | date:'short':'America/Los_Angeles' }}</p>
            </div>
        </li>
    </ul>
</div>

<a routerLink="/" class="inline-block text-blue border border-blue rounded no-underline p-1 mt-2">Back</a>
