<div *ngIf="memory$ | async as memory">
    <ul class="list-reset">
        <li *ngFor="let event of events$ | async" class="flex mb-2">
            <div>
                <img [src]="getIconForMemory(event)" alt="" class="w-16 h-16">
            </div>
            <div class="flex-1">
                <p class="font-bold text-md">{{ event.type }}</p>
                <p>{{ event.text }}</p>
                <p>{{ event.timestamp * 1000 | date:'medium' }}</p>
            </div>
        </li>
    </ul>
</div>

<a routerLink="/" class="inline-block text-blue border border-blue rounded no-underline p-1 mt-2">Back</a>
