.memory-list {
  .guest-text {
    white-space: nowrap;
    max-width: 1rem;
    transform: rotate(90deg);
    position: relative;
    top: -2rem;
    @apply .ml-4;
  }

  li:nth-child(odd) {
    flex-direction: row-reverse;

    .guest-memory-text {
      flex-direction: row-reverse;
    }
    .guest-text {
      @apply .mr-4 .ml-0;
    }
  }

  li:last-child {
    .guest-text-line, .guest-text-line-ball {
      bottom: 0;
    }
  }
}

$horizontalLineHeight: 4rem;

.horizontal-line {
  border: 4px solid white;
  min-height: $horizontalLineHeight;
}

.guest-text-line {
  width: 100%;
  min-width: 1rem;
}

.guest-text-line, .guest-text-line-ball {
  position: relative;
  bottom: $horizontalLineHeight / 2;
}

.guest-memory-icon {
  @apply .text-center;

  .outer-circle {
    @apply .border .border-white .border-2 .rounded-full .p-4;

    .inner-circle {
      @apply .border .border-white .border-4 .rounded-full .block .p-2;

      @screen md {
        @apply .border-8 .p-4;
      }

      img {
        //width: 500px;
      }
    }
  }
}
