html {
  width: 100%;
  min-height: 100%;
  font-size: 18px;
}

body {
  min-height: 100%;
  width: 100%;
}

.container {
  @apply px-2;
}

.background-image {
  background-image: url('../angular/assets/background.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}
