<div *ngIf="guest$ | async as guest" class="flex flex-col text-center text-white mt-8">
    <h1 class="mb-4">{{ guest.firstName }} {{ guest.lastName }}</h1>
    <p class="mb-2">
        Score: <span class="">{{ guest.score || 0 }}</span>
    </p>
    <p class="mb-1">
        <a class="text-white text-sm hover:text-grey-light no-underline block" href="http://jirafairy.com/?tagId={{ guestTagId }}" target="_blank">
            Help {{ guest.firstName }} get more points!
        </a>
    </p>
    <p class="">
        <a routerLink="/guests" class="text-grey-light hover:text-grey text-xs">Go Back</a>
    </p>
</div>

<div *ngIf="memory$ | async as memory" class="flex justify-center align-middle py-8">
    <ul class="list-reset w-full memory-list">
        <li *ngFor="let event of memory.events | memoryEvents" class="flex py-8">
            <div class="flex-1">
                <span class="invisible"></span>
            </div>
            <div class="guest-memory-icon flex justify-center items-center">
                <span class="outer-circle">
                    <span class="inner-circle">
                        <img [src]="getIconForMemory(event)" alt="" class="border border-white rounded w-8 h-8 md:w-16 md:h-16">
                    </span>
                </span>
            </div>
            <div class="guest-memory-text flex-1 flex justify-center items-center">
                <span class="flex-1 border border-2 w-16"></span>
                <span class="guest-text text-white">{{ event.text || event.type }} at {{ event.timestamp * 1000 | date:'shortTime':'America/Los_Angeles' }}</span>
            </div>
        </li>
    </ul>
</div>

<div class="flex justify-center align-middle mt-8">
    <a routerLink="/guests" class="max-w-xs inline-block text-white border border-white rounded text-center no-underline p-4 mt-2 mb-4 w-full">Back</a>
</div>
